<%- include("partials/header.ejs") %>

<section id="entries" class="mb-5">
    <div class="row">
        <div class="col">
            <h2 class="text-center">ALL ENTRIES</h2>
            <p class="text-center">See all entries about books I've read.</p>
        </div>
    </div>
    <div class="row">
        <% if (entries.length > 0) { %>
            <% for(let entry of entries){ %>
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <div>
                                <h4 class="card-title entryTitle" id="<%= entry.title %>">
                                    <a href="/entries/<%= entry.id %>"><%= entry.title %></a>
                                    <% if (isAdmin) { %>
                                        <div class="position-absolute top-0 end-0 m-1">
                                            <a href="/edit-article?id=<%= entry.id %>" id="<%= entry.id %>">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16" style="cursor: pointer; margin-left: 10px;">
                                                    <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z"/>
                                                </svg>
                                            </a>
                                            <a href="#" onclick="document.getElementById('delete-form-<%= entry.id %>').submit();">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                                                  </svg>
                                            </a>
                                            <form action="/entries/<%= entry.id %>?_method=DELETE" id="delete-form-<%= entry.id %>" method="POST" style="display:none;"></form>
                                        </div>
                                    <% } %>
                                </h4>
                            </div>
                            <p class="card-text entryArticle"><%= entry.article %>...</p>
                            <p><a href="/entries/<%= entry.id %>">[ Read More ]</a></p>
                            <p class="card-text">
                                <small class="text-muted">Rating: <%= entry.rating %> | Date: <%= entry.date_created %></small>
                            </p>
                        </div>
                    </div>
                </div>
            <% } %>
        <% } else { %>
            <p class="text-center">No entries found.</p>
        <% } %>

        <% if (isAdmin) { %>
            <!-- Add New Article Card -->
            <div class="col-md-4 mb-4">
                <a href="/add-article" class="card text-center text-decoration-none card-hover" style="color: inherit;" >
                    <div class="card-body">
                        <h3 class="card-title">+</h3>
                        <p class="card-text">Add a New Article</p>
                    </div>
                </a>
            </div>
        <% } %>
    </div>
</section>

<%- include("partials/footer.ejs") %>
